<footer>
    <div class="pull-right">
        © 2025, made with <i class="fa fa-heart"></i> by <a href="https://hitham-portofolio.netlify.app/">Haitham Homaid</a>
    </div>
    <div class="clearfix"></div>
  </footer>
  <!-- /footer content -->
